@media (max-width:768px) {

    main {
        margin: 0;
        width: 100vw;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    main img {
        padding: 0;
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }

    .itens-preparacao li {
        margin-left: 8vw;
    }

    .ingredientes-lista {
        padding-left: 5vw;
    }

}